{% extends "theblog/home.html" %}
{% block title %} Add New Post {% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
   {% if user.is_authenticated %}
   <form style="background-color: rgb(255, 243, 243);" method="POST">
    {% csrf_token %}
    {{form|crispy}}
    <button type="submit" class="btn btn-outline-success">Post</button>
   </form>
   <br>
   <br>
   <button type="button" class="btn btn-outline-dark "><a href="{% url 'home' %}">Back</a></button>
   <script>
      var name = "{{user.id}}";
      document.getElementById("user").value = name;
   </script>
   {%endif%}
</div>
<br><br>
<h1>thanks</h1>
  
{% endblock content %}