{% extends "theblog/home.html" %}
{% block title %} Update The Post {% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
   {% if user.is_authenticated %}
      <form style="background-color: rgb(255, 243, 243);" method="POST">
      {{post.title}}
      {% csrf_token %}
      
      <button type="submit" class="btn btn-primary">Delete</button>
      </form>
   {%else%}
   <h1>you,er not Login/h1>
   {%endif%}
   </div>
   <br>
   <br>
   <button type="button" class="btn btn-outline-dark"><a href="{% url 'home' %}">Back</a></button>
<br><br>
<h1>thanks</h1>
  
{% endblock content %}